

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;










 
  .tabla td,
  .tabla th{
      text-align: center;
      border:1px solid ;
  }

  .tabla th{
    background-color: #282623;
  }




.tabla tr:nth-child(even){
    background-color: #42a042;
}

.tabla tr:hover {
  background-color: #1da830;
  
  cursor: pointer;
}